pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
node_modules
*.iml
*.ipr
*.iws
/electron/
figwheel_server.log
/app/js/*
!/app/js/externs.js
!/app/js/main.js
.nrepl-port
*.log
